# Data Identification

### Now we are going to start with the differents documents provided.
#### Every group of document are separate by language and in paragraph. We must determine if all the documents in the folders are part of the same main document. We are going to do that analyzing the content of the paragraphs.

In [1]:
# Imports
import pandas as pd
import numpy as np
import re
import glob, os


import spacy
from spacy.lang.en.stop_words import STOP_WORDS
STOP_WORDS_en = STOP_WORDS
from spacy.lang.fr.stop_words import STOP_WORDS
STOP_WORDS_fr = STOP_WORDS

# APR

   ### 1. English

In [330]:
df_all = pd.DataFrame()
path = '/Users/Natalio/Desktop/nlp_associate_ds_test/NLP_Associate_DS_Test/data/documents_challenge/APR/en'
for f in glob.glob(path + '/*.txt'):
    df = pd.read_csv(f, sep='\asdaefsafsadf', header=None, index_col=False ,engine='python')
    df['file_name'] = re.findall('.+\/(.+\.txt)', f)
    df = df.rename(columns={0:'text'})
    df_all = pd.concat([df_all,df], ignore_index = True)

In [331]:
df_all

                                                   text             file_name
0     i read this book because in my town, everyone ...     apr-book-0-en.txt
1     recipes appreciated by the family (small and l...     apr-book-1-en.txt
2     i say no to ease ..... and not to the author w...    apr-book-10-en.txt
3     milady has found a good vein: anita blake. bas...   apr-book-100-en.txt
4     460 bc, somewhere in greece: "gentlemen, i dec...  apr-book-1000-en.txt
...                                                 ...                   ...
3595  i really wonder what is yet to coldplay. i thi...  apr-music-991-en.txt
3596  i'm pretty disappointed that it lacks the song...  apr-music-992-en.txt
3597  i bought the cd and dvd, it is complemented pe...  apr-music-995-en.txt
3598  good but after the disappointing "follow the l...  apr-music-996-en.txt
3599  of course the glory days are behind, but it wo...  apr-music-997-en.txt

[3600 rows x 2 columns]

In [242]:
nlp = spacy.load('en')
stopwords = list(STOP_WORDS)

In [334]:
def spacy_tokenizer(sentence):

    tokens = nlp(sentence)
    
    filtered_tokens = []
    for word in tokens:
        lemma = word.lemma_.lower().strip()
        
        if lemma not in STOP_WORDS and word.lemma_ != "-PRON-"and re.search('^[a-zA-Z]+$', lemma):
            filtered_tokens.append(lemma)

    return filtered_tokens

In [ ]:
def spacy_similarity(doc1, doc2):
    sim_doc1 = spacy_tokenizer(doc1)
    sim_doc2 = spacy_tokenizer(doc2)
    result = nlp(' '.join(sim_doc1)).similarity(nlp(' '.join(doc2)))
    return result

In [333]:
doc1 = spacy_tokenizer(titles[0])
doc2 = spacy_tokenizer(titles2[0])

NameError: name 'spacy_tokenizer' is not defined

0.871007063548032

/Users/Natalio/miniconda3/envs/ea_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  """Entry point for launching an IPython kernel.

In [332]:
def spacy_similarity(doc1, doc2):
    sim_doc1 = spacy_tokenizer(doc1)
    sim_doc2 = spacy_tokenizer(doc2)
    result = nlp(' '.join(sim_doc1)).similarity(nlp(' '.join(doc2)))
    return result

In [29]:
spacy_similarity

['solve',
 'disappearance',
 'singer',
 'poor',
 'historian',
 'mission',
 'young',
 'single',
 'board',
 'unwillingly',
 'story',
 'secret',
 'fred',
 'vargas',
 'plunge',
 'original',
 'investigation',
 'hold',
 'spellbound',
 'twist',
 'page']